*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 1192px;
}

article {
  margin: 0 auto;
  margin-bottom: 65px;
  width: 1192px;
}

.name {
  margin-top: 40px;
  padding: 10px 0;
  font-size: 80px;
  border-bottom: 3px solid #474747;
}

.avatar {
  display: block;
  margin-top: 45px;
}

.title {
  margin-bottom: 0;
  padding: 7px 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  border-bottom: 3px solid #7A7A7A;
}

.subtitle {
  margin-left: 15px;
  font-size: 0.74em;
  font-weight: 700;
  color: #A00404
}

p {
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.1px;
}

.skills, header {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #415165;
}

.skills .title,
header .title {
  width: 1190px;
  margin: 0 auto;
  font-weight: normal;
  border-color: #8C96A2;
}

.skills .title {
  width: 1000px;
}

.skills .subtitle,
header .subtitle {
  font-family: 'Roboto', sans-serif;
  color: white;
}

ul {
  padding-top: 0;
  padding-bottom: 0;
  display: inline-block;
}

.skills ul {
  border-left: 2px solid #6E8098;
}

li {
  /* margin: 20px 0; */
  list-style: none;
  font-size: 23px;
  font-weight: 300;
  line-height: 2;
  color: #BFC5CD;
}

.content {
  margin-left: 20px;
  padding-left: 25px;
  border-left: 2px solid #B2C0D4;
}

.content img {
  margin-top: -18px;
  margin-bottom: 5px;
  display: block;
  width: 90px;
}

.description {
  margin: 0;
  margin-bottom: 25px;
  width: 642px;
  font-size: 20px;
  line-height: 1.5;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}